In [1]:
#Operator

#1.Arithmetic
print("-------Arithmetic---------")
print(10/3)
print(10//3)
print(10%3)
print(10**3)
print("Abhi"*2)
#2.5*“Arman" # TypeError: can't multiply sequence by non-int of type 'float’

# Relational
print("--------Relational----------")
#We can apply relational operators for str and bool types also.
a="abhi"
b="abhi"
print(a>b)
print(a>=b)
print(10>True)
print(1.0>True)
print(int(True))

#Logicle
print("-------Logicle--------")
print(10 and 20)
print(10 and 0)
a=10 and 0
print(a)
print(not 0 or 20)
print(not(0 or 20))

#Ternary or Conditional
print("--------Ternary or Conditional--------")
a=10
a+=20
print(a)

print("-------Membership--------")
print('h' in "hello")
print('10' in '1010')# only contain string
print('h' not in "hello")
list=["apple",24,False]
print('apple' in list)
print(24 in list)
dic={10:"apple",20:"banana"}
print(10 in dic)
print("apple" in dic)#only for key allow

-------Arithmetic---------
3.3333333333333335
3
1
1000
AbhiAbhi
--------Relational----------
False
True
True
False
1
-------Logicle--------
20
0
0
True
False
--------Ternary or Conditional--------
30
-------Membership--------
True
True
False
True
True
True
False

In [2]:
#Escape Characters
txt = "We are the so-called \"Vikings\" from the north."
print(txt)
txt='it\'s alright'
print(txt)
txt="hello\nworld"
print(txt)
txt="Hello\tPython"
print(txt)
txt="Hello\bPython"
print(txt)

We are the so-called "Vikings" from the north.
it's alright
hello
world
Hello	Python
HellPython